.footer{
    margin-top: calc(100% - 89%);
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(8,auto);
    gap: 18px;
}
@media (max-width:768px) {
    .footer{
        grid-template-columns: repeat(2,150px);
    }
    .bt2{
        width: auto;
        height: 18px;
    }
    .eth{
        width: auto;
        height: 18px;
    }
}